/**********SECTION Inicia configuración general del sitio **********/
/* Posicionamiento logo */
.logoNikken {
    width: 60%;
    opacity: 0.9;
    align-items: center !important;
    justify-content: center !important;
    text-align: center !important;
}

/* Configuración del contenido */
.body-background {
    background-image: url("/images/rama_hojas.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100vw 100vh;
    object-fit: contain;
    padding: 0px;
}

.mt-4 {
    color: #2be974;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
}

/**********!SECTION Finaliza configuración general del sitio **********/
/**********SECTION Inicia configuración login **********/
.background {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.background::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background: url("/images/fondo_hojas.png");
    opacity: 0.09;
    background-color: #2be974;
}

/*NOTE Centrado del login */
.login-center {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.fondo-logo-sombra {
    padding: 10px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    box-shadow: 10px 10px 3px #767879;
    -webkit-box-shadow: 10px 10px 3px #767879;
    -moz-box-shadow: 10px 10px 3px #767879;
}

/**********!SECTION Finaliza configuración login **********/
/**********SECTION Inicia configuración sidebar **********/
/*NOTE Fondo sidebar*/
.bg-sidebar {
    height: 100vh;
    display: block;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
}

.bg-sidebar::before {
    content: "";
    background: url("/images/fondo_hojas.png");
    opacity: 0.08;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    background-color: #2be974;
}

#sidebarMenu {
    position: fixed;
    height: 100%;

}

/*NOTE Diseño del menú */
.sidebar {
    text-align: left;
}

.sidebar lu {
    display: inline-block;
    padding: 0px;
    margin: 0px;
}

.sidebar-header {
    cursor: pointer;
    list-style-type: none;
    width: 100% !important;
    display: inline;
    text-align: left;
    padding: 5px 5px 5px 8px;
    border: 1px solid#2be974;
    border-radius: 5px;
    background: #7ce8a5;
    opacity: 0.6;
}

.sidebar-submenu {
    cursor: pointer;
    list-style-type: none;
    width: 100% !important;
    display: inline-block;
    text-align: left;
    padding: 5px 5px 5px 8px;
    border: 1px solid#2be974;
    border-radius: 5px;
    background: #9fe6ba;
    opacity: 0.5;
    box-sizing: border-box;
}

.sidebar li a {
    text-decoration: none;
    width: 100% !important;
}

/**********!SECTION Finaliza configuración sidebar **********/
/**********SECTION Inicia configuración navbar **********/
.navbar li a:hover {
    color: #000;
    background-color: #2be974;

}

/* nav li ul {
    display: none;
    position: absolute;
    top: 0px;
    left: 120px;
}

nav li:hover ul {
    display: block;
} */

/**********!SECTION Finaliza configuración navbar **********/
/**********SECTION Inicia configuración footer **********/
.footer {
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0px;
    position: fixed;
    background-color: #2be974;
}

.footer::before {
    content: "";
    left: 15rem;
    bottom: 100px;
    /* opacity: 0.09; */
    background-color: #2be974;
}

/**********!SECTION Finaliza configuración footer **********/
/**********SECTION Inicia configuración content-body **********/
.content {
    padding-bottom: 300px;
    width: 100%;
    height: 100vh;
}

/**********!SECTION Finaliza configuración content-body **********/

/**********SECTION Inicia diseño tablas editables **********/

.table {
    border: #295505 rounded;
}

thead tr th{
    position: sticky !important;
    top: 0;
    z-index: 100;
    background: rgb(255, 255, 255);
    background: rgb(255, 255, 255, 0.5);
    height: 100%;
}

.table-responsive {
    height:100% !important;
    overflow-y:scroll;
    overflow-x:hidden;
}

.table thead th{
    vertical-align:middle;
    padding: 5px, 5px;
    font-size: 25px;
    text-transform: uppercase;
    vertical-align: top;
    color: #1D4A5A;
    font-weight: normal;
    text-align: left;
    background: rgb(124, 232, 165);
    background: rgb(124, 232, 165, 0.3);
}

tr:first-child {
    color: #295505;
}

td:hover {
    color: #4a9d06;
    font-weight: bold;
    transition-delay: 0s;
    transition-duration: 0.4s;
    transition-property: all;
    transition-timing-function: line;
}



.table tbody tr td {
    vertical-align:middle;
    padding: 5px;
    background: #f2f2f2 transparent;
    font-size: 14px;
}

.add {
    outline: none;
    background: none;
    border: none;
}

.edit {
    outline: none;
    background: none;
    border: none;
}

.save {
    outline: none;
    background: none;
    border: none;
}

.delete {
    outline: none;
    background: none;
    border: none;
}

.edit {
    padding: 5px 10px;
    cursor: pointer;
}

.save {
    padding: 5px 10px;
    cursor: pointer;
}

.delete {
    padding: 5px 10px;
    cursor: pointer;
}

.add {
    float: right;
    background: transparent;
    border: 1px solid black;
    color: black;
    font-size: 13px;
    padding: 0;
    padding: 3px 5px;
    cursor: pointer;
}

.add :hover {
    background: #ffffff;
    color: #00adee;
}

.save {
    display: none;
    background: #32AD60;
    color: #ffffff;
}
.save :hover {
    background: darken(#32AD60, 10%);
}

.edit {
    background: #2199e8;
    color: #ffffff;

}

.edit :hover {
    background: darken(#2199e8, 10%);
}
.delete {
    background: #EC5840;
    color: #ffffff;

}

.delete :hover {
    background: darken(#EC5840, 10%);
}
/**********!SECTION Finaliza diseño tablas editables **********/

