/**********SECTION Inicia configuración general del sitio **********/
/* Posicionamiento logo */
.logoNikken {
    width: 60%;
    opacity: 0.9;
    align-items: center !important;
    justify-content: center !important;
    text-align: center !important;
}

/* Configuración del contenido */
.body-background {
    background-image: url("/images/rama_hojas.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100vw 100vh;
    object-fit: contain;
}

/**********!SECTION Finaliza configuración general del sitio **********/
/**********SECTION Inicia configuración login **********/
.background {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.background::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background: url("/images/fondo_hojas.png");
    opacity: 0.09;
    background-color: #2be974;
}

/*NOTE Centrado del login */
.login-center {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.fondo-logo-sombra {
    padding: 10px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    box-shadow: 10px 10px 3px #767879;
    -webkit-box-shadow: 10px 10px 3px #767879;
    -moz-box-shadow: 10px 10px 3px #767879;
}

/**********!SECTION Finaliza configuración login **********/
/**********SECTION Inicia configuración sidebar **********/
/*NOTE Fondo sidebar*/
.bg-sidebar {
    height: 100vh;
    display: block;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
}

.bg-sidebar::before {
    content: "";
    background: url("/images/fondo_hojas.png");
    opacity: 0.08;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    background-color: #2be974;
}

#sidebarMenu {
    position: fixed;
    height: 100%;

}

/*NOTE Diseño del menú */
.sidebar {
    text-align: center;
}

.sidebar lu {
    display: inline-block;
    padding: 0;
    margin: 0;
}

.sidebar li {
    list-style-type: none;
    width: 100%;
    align-items: center;
    align-content: center;
    display: inline;
    border: 1px solid#2be974;
}

.sidebar li a {
    text-decoration: none;
    display: inline-block;
    width: 100%;
    height: 30px;
}

.navbar li a:hover {
    color: #000;
    background-color: #2be974;

}

/* nav li ul {
    display: none;
    position: absolute;
    top: 0px;
    left: 120px;
}

nav li:hover ul {
    display: block;
} */

/**********!SECTION Finaliza configuración sidebar **********/
/**********SECTION Inicia configuración footer **********/
.footer {
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0px;
    position: fixed;
    background-color: #2be974;
}

.footer::before {
    content: "";
    left: 15rem;
    bottom: 100px;
    /* opacity: 0.09; */
    background-color: #2be974;
}

/**********!SECTION Finaliza configuración footer **********/
/**********SECTION Finaliza configuración content-body **********/
.content {
    padding-bottom: 30px;
}

/**********!SECTION Finaliza configuración content-body **********/
